@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    font-size: 62.5% 
    }
.cabeza{
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    width: 100%;
    height: 100px;
}
.agregar:hover{
    font-size: 3.5rem;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .cabeza{
        background-color: black;
        font-family: 'Bebas Neue', sans-serif !important;
        font-size: 2.5rem;
        width: 100%;
    }
}
.duki{
    text-decoration: none;
    color: #FDF0D5;
    margin-left: 1vw;
}
.listaa{
    list-style: none;
    display: inline;
}
.lista
{
    text-decoration: none;
    color: #FDF0D5;
    margin-right: 1vw;
}
.cuerpo{
    margin: 0;
    padding: 0;
}
.listaf{
    display: inline;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #780000;
    height: 180vh;
}
.img{
    width: 20vw;
    height: 100%;
    margin-left: 1vw;
    border-left: #FDF0D5;
    border-style: solid;
    border-width: 0.5vw;
}
.linea{
    display: inline;
    font-size: 2rem;
}
.icon{
    width: 3vw;
    height: 5vh;
    margin-right: 1vw;
    display: inline;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .icon{
        width: 7vw;
        height: 5vh;
        margin-right: 10vw;
        display: inline;
    }
}
.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 112.1px;
    width: 100%;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        height: 111.1px;
        width: 100%;
    }
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        height: 117.1px;
        width: 100%;
    }
}
.iconn{
    width: 4vw;
    height: 5vh;
    margin-right: 1vw;
    display: inline;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .iconn{
        width: 9vw;
        height: 5vh;
        margin-right: 10vw;
        display: inline;
    }
}
.aja{
    margin-right: 17vw;
    
}
.redes{
    color: #FDF0D5;
    margin-left: 1vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .redes{
        color: #FDF0D5;
        margin-left: 1vw;
        margin-right: 12vw;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2rem;
    }
}
.principal{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: baseline;
        background-color: #780000;
}
.subtitulos{
    font-size: 4rem;
    color: #FDF0D5;
    margin-left: 1vw;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;

}
@media only screen and (min-width: 300px) and (max-width: 480px){
        .subtitulos{
            font-size: 2rem;
            color: #FDF0D5;
            margin-left: 1vw;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: bold;
        }
}
.titulos{
    font-size: 5rem;
    color: #FDF0D5;
    margin-left: 1vw;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .titulos{
        font-size: 2.5rem;
        color: #FDF0D5;
        margin-left: 1vw;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
    }
}
.parrafos{
    font-size: 3rem;
    color: #FDF0D5;
    margin-left: 1vw;
    font-family: 'Bebas Neue', sans-serif;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .parrafos{
        font-size: 1.4rem;
        color: #FDF0D5;
        margin-left: 1vw;
        font-family: 'Bebas Neue', sans-serif;
    }
}
@media only screen and (min-width: 412px) and (max-width: 480px){
    .parrafos{
        font-size: 1.75rem;
        color: #FDF0D5;
        margin-left: 1vw;
        font-family: 'Bebas Neue', sans-serif;
    }
}
.video{
    width: 30vw;
    height: 30vh;
    margin-left: 1vw;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .video{
        height: 280px;;
        width: 340px;
        margin-left: 1vw;
    }
}
.espacio{
    margin-left: 1vw;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .espacio{
        margin-left: 1vw;
        height: 280px;;
        width: 340px;
    }
}
.galeria{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: #780000;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .galeri{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: #780000;
    }
}
.fotos{
    width: 30vw;
    height: 30vh;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: #FDF0D5;
    border-style: solid;
    border-width: 0.5vw;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .fotos{
        width: 90vw;
        height: 25vh;
        margin-left: 4vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        border: #FDF0D5;
        border-style: solid;
        border-width: 0.5vw;
    }
}
.discografia{
    margin-right: 3vw;
}
.portadas{
    width: 20vw;
    height: 25vh;
    margin-right: 10vw;
    margin-bottom: 3vw;
    border: #FDF0D5;
    border-style: solid;
    border-width: 0.5vw;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .portadas{
        width: 45%;
        height: 20vh;
        margin-right: 1vw;
        margin-bottom: 3vw;
        border: #FDF0D5;
        border-style: solid;
        border-width: 0.5vw;
    }
}
.contactom{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: #780000;
}
.formulario{
    margin-left: 1vw;
    display: block;
}
.formu{
    font-size: 3rem;
    color: #FDF0D5;
    display: block;
    font-family: 'Bebas Neue', sans-serif;
}
#formuu{
    font-size: 3rem;
    color: #FDF0D5;
    display: block;
    font-family: 'Bebas Neue', sans-serif;
}
.boton{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-color: #FDF0D5;
}
.boton:hover{
    font-size: 2.3rem;
}
.sobreti{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    background-color: #780000;
}
.bloc{
    font-size: 3rem;
    color: #FDF0D5;
    margin-left: 1vw;
    font-family: 'Bebas Neue', sans-serif;
}
.prueba{
    margin-left: 1vw;
    display: inline-block;
}

.espacio{
    margin-bottom: 6vh;
}
.tamanio{
    width: 30vw;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Bebas Neue', sans-serif;
}  
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 1vw;
    font-size: 3.8rem ;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    h2{
        font-size: 3rem;
    }
    
}
h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 1vw;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
form {
    margin-top: 0em;
}
legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    float: none;
    width: 8.4%;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0.95em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
input{
    font-size: 1.5rem;
}